.default-view-category {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px; }
  .default-view-category:hover {
    background-color: white;
    border-radius: 5px;
    color: #009688 !important; }

.default-view-category-active {
  background-color: white;
  border-radius: 5px;
  color: #009688 !important; }

.default-view-filter {
  padding-top: 20px !important;
  padding-bottom: 0px !important; }
  .default-view-filter .default-view-add-post-icon {
    padding-right: 10px; }
